<html lang="en">
<head>
    {%load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{%static 'home/main.css'%}">
    <title>Home Page</title>
</head>
<body>
    <main>
        <h1>Welcome To the Home Page!</h1>
        <p>Here, We will display The initial summary of the user</p>
        <p>Additional companies can currently be viewed by simply adding "/company_name" to the url</p>
        <p>Currently, only WBC and ANZ work</p>
    </main>
</body>
</html>