<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'summary/main.css'%}">
    <title>Company Summary</title>
</head>
<body>
   <!-- Header -->
   <header class="header container-fluid">
       <div class="row container-fluid">
            <h1>Investment Analysis System</h1>
            <nav>
                <!-- Dropdown menu -->
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Menu
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a href="/" class="dropdown-item">Home</a>
                        <a href="#" class="dropdown-item">Ratio Analysis</a>
                        <a href="#" class="dropdown-item">Key Graphs</a>
                    </div>
                </div>
            </nav>
       </div>
   </header>
   
    <!--Title/Recommendation Section  -->
    <section class="title">
        <h1>{{company.ticker.upper}}: {{company.name}} </h1>
    </section>

    <!-- Price Graph -->
    <section class="price-graph">
        <h1>PRICE GRAPH GOES HERE</h1>
    </section>

    <!-- key ratios section -->
    <section class="ratios container-fluid">
        <h1 style="text-align: center">Key Ratios</h1>
        <div class="row">
            <p class="col"><strong>Market Cap:</strong> {{ratios.market_cap}}</p>
            <p class="col"><strong>Price Equity: </strong> {{ratios.price_equity}}</p>
        </div>
        <div class="row">
            <p class="col"><strong>EPS: </strong> {{ratios.EPS}}</p>
            <p class="col"><strong>NTA: </strong> {{ratios.NTA}}</p>
        </div>
        <div class="row">
            <p class="col"><strong>DPS: </strong> {{ratios.DPS}}</p>
            <p class="col"><strong>Beta: </strong> {{ratios.beta_value}}</p>
        </div>
        <div class="row">
            <p class="col"><strong>Price NTA: </strong> {{ratios.price_NTA}}</p>
            <p class="col"><strong>Net Yield: </strong> {{ratios.Net_yield}}</p>
        </div>
        <div class="row">
            <p class="col"><strong>Sharpe: </strong> {{ratios.Sharpe}}</p>
            <p class="col"><strong>Debt Equity: </strong> {{ratios.debt_equity}}</p>
        </div>
        <div class="row">
            <p class="col"><strong>Current: </strong> {{ratios.current}}</p>
            <p class="col"><strong>ROE: </strong> {{ratios.ROE}}</p>
        </div>
        <div class="row">
            <p class="col"><strong>ROA: </strong> {{ratios.ROA}}</p>
            <p class="col"><strong>Quicke Ratio: </strong> {{ratios.quick_ratio}}</p>
        </div>
    </section>

    <!-- *Company Profile -->
    <section class="company-profile container-fluid">
        <h1 style="text-align: center">Company Profile</h1>
        <div class="row">
                <h2>Overview</h2>
                <p>{{profile.overview}}</p>
        </div>
        <div class="row">
                <h2>performance</h2>
                <p>{{profile.performance}}</p>
        </div>
        <div class="row">
                <h2>Outlook</h2>
                <p>{{profile.outlook}}</p>
        </div>
        <div class="row">
                <h2>Description</h2>
                <p>{{profile.description}}</p>
        </div>
        
    </section>

    <!-- TODO: Income statement Section -->
    <section class="income container-fluid">
        <div class="row">

        </div>
    </section>

    <!-- TODO: Assets & Liabilities Section -->

    <!-- Directors section -->
    <section class="directors container">
        <h1 style="text-align: center">Directors</h1>
        <!-- Loop through directors queryse. Create a row and two columns for each director to ensure structure is tidy -->
        {%for d in directors%}
        <!-- Set name and role labels during the first loop iteration -->
        {%if forloop.first%}
        <!-- Column labels  -->
        <div class="row">
            <div class="col">
                <h3>Name</h3>
            </div>
            <div class="col">
                <h3>Role</h3>
            </div>
        </div>
        {% endif %}
        <!-- Create a row and two cols -->
        <div class="row">
            <div class="col">
                <p>{{d.director_name}}</p>
            </div>

            <div class="col">
                <p>{{d.director_role}}</p>
            </div>
        </div>
        {%endfor%}
    </section>






    <!-- Bootstrap Javascript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>