// Dimemsions
// sm > 576, md > 768, lg > 992, xl > 1200

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

// HEADER / NAV SECTION
header {
    .row {
        align-items: center;
        justify-content: space-around;
    }
    nav {
        display: flex;
        justify-content: space-between;
        width: 10%;
    }
}

// Title/Recommendation Section
.recommendation {
    padding: 2em 0 0;
    h1 {
        text-align: center;
        padding: 0.4em;
    }
}