// @import 'medias';
$line-color: rgba(0, 0, 0, 0.283);
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

// HEADER / NAV SECTION
header {
    border-bottom: 1px solid $line-color;
    padding: 0.5em;
    h1 {
        font-size: 1.8rem;
    }
    .row {
        align-items: center;
        justify-content: space-evenly;
    }
    nav {
        display: flex;
        justify-content: space-between;
        width: 10%;
    }
}

// Title/Recommendation Section
.title {
    padding: 1em;
    text-align: center;
}

// Price graph placeholder
.price-graph {
    padding: 4rem;
    margin: 2em;
    border: 1px solid $line-color;
    h1 {
        font-size: 1rem;
        text-align: center;
        transform-origin: center;
        transform: rotate(-30deg);
        color: rgba(0, 0, 0, 0.413);
    }
}

// Ratios Section
.ratios {
    padding-bottom: 1em;
    border-top: 1px solid $line-color;
    border-bottom: 1px solid $line-color;
    h1 {
        padding: 1rem;
    }
}



// Company Profile
.company-profile {
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid $line-color;
    .row {
        flex-flow: column;
    }
}

